<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roll Dice</title>
</head>
<body>
    <h1>The number given by the dice: <%= diceNum %></h1>
    <% if(diceNum===6) { %>
        <h2>Nice!!!!</h2>
    <% } %>
</body>
</html>